.box1{
    width: 250px;
    height: 150px;
    background-color: rgb(41, 183, 19);
    color: aliceblue;
    text-align: center;
    transform:rotate(90deg)
    scale(1,2);
    transform:translate(10cm,5cm);
    transform:skew(10deg,20deg) ;
}